Repository vzhd1701/evernote-backup: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, mdformat, pytest

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
# pre-commit install
# need commit-msg hook for commitzen
# pre-commit install --hook-type commit-msg

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-vcs-permalinks
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
    -   id: mixed-line-ending
        args: ['--fix=lf']
    -   id: check-toml
    -   id: check-yaml
    -   id: no-commit-to-branch

-   repo: local
    hooks:
    -   id: ruff
        name: ruff
        stages: [commit]
        language: system
        entry: poetry run ruff format
        types: [python]

    -   id: mdformat
        name: mdformat
        stages: [commit]
        language: system
        entry: poetry run mdformat --number
        types: [markdown]

    -   id: pytest
        name: pytest
        stages: [commit]
        language: system
        entry: poetry run pytest
        types: [python]
        pass_filenames: false

docs: add info about --use-system-ssl-ca flag to ssl debug log
  evernote_backup/evernote_client_util_ssl.py
Due: ruff, pytest

refactor: remove unused code
  tests/conftest.py
Due: ruff, pytest

feat: add manage check command for db integrity check
  evernote_backup/cli.py
  evernote_backup/cli_app.py
  evernote_backup/cli_app_util.py
  evernote_backup/note_checker.py
  evernote_backup/note_exporter.py
  evernote_backup/note_storage.py
  tests/test_op_manage_check.py
Due: ruff, pytest

test: drop force flag on db init for manage check
  tests/test_op_manage_check.py
Due: ruff, pytest

feat: add manage list command for listing db content
  evernote_backup/cli.py
  evernote_backup/cli_app.py
  evernote_backup/note_lister.py
  tests/test_op_manage_list.py
Due: ruff, pytest

feat: add --notebook option to export mode for exporting specific notebook(s)
  evernote_backup/cli.py
  evernote_backup/cli_app.py
  evernote_backup/note_exporter.py
  tests/test_op_export.py
Due: ruff, pytest

feat: add --add-metadata option to export mode for embedding metadata into exported notes
  evernote_backup/cli.py
  evernote_backup/cli_app.py
  evernote_backup/note_exporter.py
  evernote_backup/note_formatter.py
  tests/test_note_formatter.py
  tests/test_op_export.py
Due: ruff, pytest

feat: add --tag option to export mode for exporting notes with specific tag(s)
  evernote_backup/cli.py
  evernote_backup/cli_app.py
  evernote_backup/note_exporter.py
  tests/test_op_export.py
Due: ruff, pytest

refactor: lint
  evernote_backup/cli_app_auth.py
  evernote_backup/evernote_client_auth.py
  evernote_backup/note_storage.py
  evernote_backup/token_util.py
  pyproject.toml
Due: ruff, pytest

chore(release): 1.13.0
  CHANGELOG.md
  evernote_backup/version.py
  pyproject.toml
Due: ruff, mdformat, pytest

build: update evernote-plus
  poetry.lock
  pyproject.toml
Due: none

build: remove default ruff options from pyproject
  pyproject.toml
Due: none

fix: skip parsing unused token parameters
  evernote_backup/token_util.py
  tests/test_cli_app_util.py
Due: ruff, pytest

chore(release): 1.13.1
  CHANGELOG.md
  evernote_backup/version.py
  pyproject.toml
Due: ruff, mdformat, pytest

ci(github): remove v from tag in release workflow
  .github/workflows/release_github.yml
Due: none

ci(github): add separate x64 and arm64 builds for macos
  .github/workflows/release_github.yml
Due: none

build: update pre-commit config
  .pre-commit-config.yaml
Due: none

build: add uv support and update xmltodict
  .pre-commit-config.yaml
  AGENTS.md
  poetry.lock
  pyproject.toml
  uv.lock
Due: mdformat

ignore en_backup.db
  .gitignore
Due: none

build: replace poetry with uv
  .gitignore
  .pre-commit-config.yaml
  .versionrc.js
  Dockerfile
  README.md
  poetry.lock
  pyproject.toml
  uv.lock
Due: mdformat

ci(github): update workflows
  .github/workflows/release_brew.yml
  .github/workflows/release_containers.yml
  .github/workflows/release_github.yml
  .github/workflows/release_pypi.yml
  .github/workflows/test.yml
Due: none

ci(github): add arm64 builds and tests
  .github/workflows/release_github.yml
  .github/workflows/test.yml
Due: none

fix: add OAuth2 support
  evernote_backup/cli_app.py
  evernote_backup/cli_app_auth.py
  evernote_backup/cli_app_auth_oauth.py
  evernote_backup/cli_app_auth_password.py
  evernote_backup/cli_app_util.py
  evernote_backup/config.py
  evernote_backup/config_defaults.py
  evernote_backup/errors.py
  evernote_backup/evernote_client.py
  evernote_backup/evernote_client_oauth.py
  evernote_backup/evernote_client_sync.py
  evernote_backup/token_util.py
  tests/conftest.py
  tests/test_cli_app_util.py
  tests/test_evernote_client_oauth.py
  tests/test_op_reauth.py
  tests/test_op_sync.py
  tests/test_op_sync_v2.py
Due: ruff, pytest

ci(github): fix astral-sh action
  .github/workflows/release_github.yml
  .github/workflows/release_pypi.yml
  .github/workflows/test.yml
Due: none

test: fix fake_token_jwt to avoid flaky tests
  tests/conftest.py
Due: ruff, pytest

ci(github): fix python versions
  .github/workflows/release_github.yml
  .github/workflows/release_pypi.yml
  .github/workflows/test.yml
Due: none

feat: allow OAuth login by mimicking desktop client, MCP with --oauth-mcp option
  evernote_backup/cli.py
  evernote_backup/cli_app.py
  evernote_backup/cli_app_auth.py
  evernote_backup/cli_app_auth_oauth.py
  evernote_backup/evernote_client_oauth.py
  tests/test_op_reauth.py
Due: ruff, pytest

test: improve coverage
  tests/test_op_sync.py
Due: ruff, pytest

Improve rate limit logging in cli.py
  evernote_backup/cli.py
Due: ruff, pytest

refactor: move time stuff to log_util
  evernote_backup/cli.py
  evernote_backup/log_util.py
  tests/test_op_sync.py
Due: ruff, pytest

fix: improve rate limit logging in cli.py (#159)
  evernote_backup/cli.py
  evernote_backup/log_util.py
  tests/test_op_sync.py
Due: ruff, pytest

refactor: old python compat
  evernote_backup/log_util.py
Due: ruff, pytest

feat: add --from-desktop-session to recover token from local Evernote desktop client
  evernote_backup/desktop_session.py
  tests/test_desktop_session.py
Due: ruff, pytest

refactor: drop linux, use cryptodome, use keyring
  evernote_backup/desktop_session.py
  pyproject.toml
  tests/test_desktop_session.py
  uv.lock
Due: ruff, pytest

refactor: clean
  evernote_backup/desktop_session.py
  tests/test_desktop_session.py
Due: ruff, pytest

refactor: move all session related stuff into FakeDesktopSession
  tests/test_desktop_session.py
Due: ruff, pytest

test: improve coverage
  evernote_backup/desktop_session.py
  tests/test_desktop_session.py
Due: ruff, pytest

feat: drop --oauth-mcp, add --oauth-method option to allow OAuth import
  evernote_backup/cli.py
  evernote_backup/cli_app.py
  evernote_backup/cli_app_auth.py
  evernote_backup/cli_app_auth_oauth.py
  evernote_backup/cli_app_auth_password.py
  evernote_backup/cli_app_click_util.py
  tests/conftest.py
  tests/test_cli_app_click_util.py
  tests/test_op_init_db.py
  tests/test_op_reauth.py
Due: ruff, pytest

feat: drop --oauth-mcp, add --oauth-method option to allow OAuth import (#166)
  evernote_backup/cli.py
  evernote_backup/cli_app.py
  evernote_backup/cli_app_auth.py
  evernote_backup/cli_app_auth_oauth.py
  evernote_backup/cli_app_auth_password.py
  evernote_backup/cli_app_click_util.py
  evernote_backup/desktop_session.py
  pyproject.toml
  tests/conftest.py
  tests/test_cli_app_click_util.py
  tests/test_desktop_session.py
  tests/test_op_init_db.py
  tests/test_op_reauth.py
  uv.lock
Due: ruff, pytest

test: mock sys.platform for oauth import to pass tests on linux
  tests/test_op_init_db.py
  tests/test_op_reauth.py
Due: ruff, pytest
